@import "_var.scss";

body {
  background-color: $body-color;
  .button-style {
    padding: 10px;
    width: 150px;
    background-color: $btn-color;
    border: none;
    border-radius: 2px;
    transition: 0.3s;
  }
  .button-style:hover {
    background-color: $btn-hover-color;
    cursor: pointer;
  }
  .filter-button-1,
  .filter-button-2 {
    position: absolute;
    left: 15px;
    top: 10px;
    width: 150px;
    background-color: $secondary-btn-color;
    border: none;
    padding: 10px;
    transition: 0.2s;
  }
  .filter-button-2 {
    top: 60px;
  }
  .filter-button-1:hover,
  .filter-button-2:hover {
    background-color: $secondary-btn-hover-color;
    cursor: pointer;
  }
}
@media screen and (max-width: 700px) {
  body {
    .filter-button-1 {
      position: absolute;
      left: 15px;
      top: 10px;
      width: 80px;
      height: 80px;
    }
    .filter-button-2 {
      top: 80px;
      right: 15px;
      left: auto;
      width: 80px;
      top: 10px;
      height: 80px;
    }
  }
}
