@import "_var.scss";

.detail {
  width: 50%;
  margin: 20px auto;
  display: block;
  text-decoration: none;
  color: $black;
  .post {
    padding: 10px;
    background-color: $list-item-color;
    ::first-letter {
      text-transform: capitalize;
    }
  }
}
