@import "_var.scss";

.new-form {
  text-align: center;
  button {
    padding: 10px;
    width: 150px;
    background-color: antiquewhite;
    border: none;
    transition: 0.3s;
  }
  button:hover {
    background-color: rgb(255, 222, 179);
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: $black;
  }
}
