@import "_var.scss";

.new-form-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: $list-item-color;
  .post {
    .table {
      width: 100%;
      input,
      textarea {
        margin: 5px 0;
        width: 100%;
        resize: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        padding: 5px;
        box-sizing: border-box;
      }
    }
    .form-submit-btn {
      border: none;
      background-color: $btn-hover-color;
      width: 150px;
      height: 30px;
      margin: 20px 0 0 0;
      transition: 0.2s;
      position: relative;
      top: 5px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .form-submit-btn:hover {
      background-color: $form-btn-hover-color;
      cursor: pointer;
    }
  }
}
.post-pop-up {
  word-break: break-all;
  width: 50%;
  height: 300px;
  color: $black;
  padding: 10px;
  background-color: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  table {
    padding: 10px;
  }
  .close-window {
    position: relative;
    left: 90%;
    padding: 5px 10px;
    color: $white;
    background-color: $gray;
    border: none;
    transition: 0.2s;
  }
  .close-window:hover {
    background-color: $black;
    cursor: pointer;
  }
}
@media screen and (max-width: 700px) {
  .post-pop-up {
    .close-window {
      left: 88%;
    }
  }
}
@media screen and (min-width: 1500px) {
  .post-pop-up {
    .close-window {
      left: 95%;
    }
  }
}
