$white: white;
$black: black;
$gray: gray;
$list-item-color: rgb(231, 231, 231);
$body-color: rgb(241, 185, 185);
$btn-color: antiquewhite;
$btn-hover-color: rgb(255, 222, 179);
$secondary-btn-color: rgb(255, 206, 160);
$secondary-btn-hover-color: rgb(255, 180, 110);
