$white: white;
$black: black;
$gray: gray;
$light-gray: rgba(189, 189, 189, 0.5);
$list-item-color: rgb(231, 231, 231);
$body-color: rgb(241, 173, 173);
$btn-color: antiquewhite;
$btn-hover-color: rgb(255, 222, 179);
$secondary-btn-color: rgb(255, 206, 160);
$secondary-btn-hover-color: rgb(255, 180, 110);
$secondary-btn-active: rgb(255, 164, 79);
